* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
}
h3 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #222;
    margin: 0 0 15px;
    font-weight: 500;
}
/*-------------------------- !Login:start ----------------------------*/
.login-page {
	min-height: 550px;
}
.login-content-wrapper {
    width: 280px;
    margin: calc(50vh - 250px) auto 0;
}
.login-header  {
	margin-bottom: 50px;
}
.login-header h4 {
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0 0;
}
.login-header p {
    font-weight: 300;
    font-size: 14px;
	color: #b3b6bd;
    margin: 0;
}
.login-content-wrapper .input-group {
    display: block;
}
.login-content-wrapper .input-group label {
    display: block;
    color: #b3b6bc;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}
.login-content-wrapper .input-group .form-group {
    display: block;
    margin: 0 0 32px;
    padding: 0;
}
.login-content-wrapper .input-group .form-group input {
    padding: 0 0 5px;
    margin: 0;
    height: 30px;
    font-weight: 300;
    line-height: 24px;
}
.login-content-wrapper button.btn.btn-primary.btn-round {
    width: 100%;
    height: 50px;
    margin: 0 0 40px;
}
p.login-form-switcher {
    text-align: center;
}
p.login-form-switcher a {
    color: #222;
    text-decoration: underline;
}

/*------------------------------- !project_builder -----------------------*/
.header {
    display: -webkit-flex;
    display: flex;
    position: relative;
}
.header .logo {
    width: 100px;
    background-color: #b92d2d;
    text-align: center;
    line-height: 70px;
}
.header .header_main {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
    border-bottom: 1px solid #d2d5da;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    height: 70px;
}
.header .header_main h2 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    line-height: 70px;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 600;
    color: #222222;
    margin: 0;
}
.header .header_main .user {
    float: right;
}
.content_body {
    display: -webkit-flex;
    display: flex;
}
.content_body .nav_bar {
    width: 100px;
    background-color: #222;
    height: calc(100vh - 70px);
}
.content_body .content_panel {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: calc(100vh - 70px);
    overflow: auto;
    padding: 30px;
}
.content_body .content_panel.builder_panel {
    background-color: #f1f4f5;
    padding: 0;
}
.navigation {
    padding: 40px 0;
}
.navigation .nav_item {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;
}
.navigation .nav_item .nav_icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: url("../img/icon_sprite.png") 0 0;
}
.navigation .nav_item:hover .nav_icon,
.navigation .nav_item.active .nav_icon {
    background-position: 0 -50px;
}
.navigation .nav_item.projects .nav_icon {
    background-position: -50px 0;
}
.navigation .nav_item.projects:hover .nav_icon,
.navigation .nav_item.projects.active .nav_icon {
    background-position: -50px -50px;
}
.navigation .nav_item.user .nav_icon {
    background-position: -100px 0;
}
.navigation .nav_item.user:hover .nav_icon,
.navigation .nav_item.user.active .nav_icon {
    background-position: -100px -50px;
}
.navigation .nav_item.result .nav_icon {
    background-position: -150px 0;
}
.navigation .nav_item.result:hover .nav_icon,
.navigation .nav_item.result.active .nav_icon {
    background-position: -150px -50px;
}
.navigation .nav_item.community .nav_icon {
    background-position: -200px 0;
}
.navigation .nav_item.community:hover .nav_icon,
.navigation .nav_item.community.active .nav_icon {
    background-position: -200px -50px;
}
.navigation .nav_item .nav_text {
    display: none;
}


/*-------------------------------------------- !add_section -----------------------------*/
.add_section_content {
    width: 320px;
    margin: 50px auto;
}
.add_section_form {
    border: 1px solid #bec5d1;
    background: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 40px 30px;
}
.add_section_blurb h3 {
    text-align: center;
    font-size: 20px;
    color: #a0a2a2;
    line-height: 28px;
    margin-bottom: 20px;
}
.form_row {
    display: block;
    padding-bottom: 15px;
}
.form_row .form_field {
    display: block;
}
.form_row .form_label {
    display: block;
    color: #a3a3a3;
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 5px;
}
.form_row input[type=text],
.form_row input[type=password],
.form_row input[type=email],
.form_row input[type=number] {
    width: 100%;
    line-height: 38px;
    padding: 0 15px;
    border: 1px solid #d5dbe6;
    border-radius: 2px;
}
.form_row input[type=text]:focus,
.form_row input[type=password]:focus,
.form_row input[type=email]:focus,
.form_row input[type=number]:focus,
.form_row textarea:focus {
    border: 1px solid #a2a5a9;
}
.form_row textarea {
    width: 100%;
    padding: 7px 15px;
    border: 1px solid #d5dbe6;
    border-radius: 2px;
    min-height: 80px;
    resize: none;
    display: block;
}
.form_row .radio,
.form_row .checkbox {
    margin: 0;
    display: inline-block;
    padding: 0 15px 0 0;
}
.form_row .radio label,
.form_row .checkbox label {
    color: #222;
    font-size: 13px;
    font-weight: 500;
}
.form_row .radio label {
    padding-left: 25px;
}
.form_row .radio label span {
    left: 0;
}
.content_panel .radio label .circle {
    border: 1px solid #c0c5d0;
}
.form_row .radio label .check {
    background-color: #b92d2d;
}
.form_row .radio input[type=radio]:checked ~ .circle {
    border-color: #b92d2d;
}
.form_row .radio input[type=radio]:checked ~ .check {
    background-color: #b92d2d;
}
.content_panel .checkbox .checkbox-material {
    padding-right: 10px;
}
.content_panel .checkbox .checkbox-material .check {
    width: 16px;
    height: 16px;
    border: 1px solid #c0c5d0;
    border-radius: 2px;
}
.content_panel .checkbox .checkbox-material:before {
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.3);
}
.content_panel .checkbox .checkbox-material .check:before {
    margin-top: -5px;
    margin-left: 5px;
}
.content_panel .checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background: #fff;
    border-color: #b92d2d;
}
.content_panel .checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
    color: #b92d2d;
}
button {
    line-height: 44px;
    background-color: #222;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 0 35px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}
button:hover {
    box-shadow: 0 100px 0 0 rgba(0, 0, 0, 0.2) inset;
}
button.red_btn {
    background-color: #b92d2d;
}
.add_section_form .form_row button {
    width: 100%;
}
.add_section_form .form_row button.black_btn {
    margin-top: 10px;
}
.add_section_form .add_section_or {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #d1d8db;
    text-transform: uppercase;
    position: relative;
    padding: 20px 0 30px;
}
.add_section_form .add_section_or:after {
    content: "";
    display: inline-block;
    background-color: #d7e0e3;
    position: absolute;
    left: 0;
    top: 30px;
    right: 0;
    height: 1px;
    z-index: 0;
}
.add_section_form .add_section_or span {
    display: inline-block;
    padding: 0 10px;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

/*--------------------------------- !add_field ------------------------------*/
.builder_content_wrapper {
    display: -webkit-flex;
    display: flex;
    min-height: calc(100vh - 141px);
}
.builder_content_wrapper > section {
    height: calc(100vh - 141px);
    overflow: auto;
}
.builder_content_wrapper .builder_left {
    -webkit-flex-basis: 250px;
    -ms-flex-basis: 250px;
    flex-basis: 250px;
    background-color: #fff;
    border-right: 1px solid #c3c6c6;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.07);
    padding: 25px 0;
}
.builder_content_wrapper .builder_middle {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 25px 20px;
}
.builder_content_wrapper .builder_right {
    -webkit-flex-basis: 350px;
    -ms-flex-basis: 350px;
    flex-basis: 350px;
    background-color: #fff;
    border-left: 1px solid #c3c6c6;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.07);
}
.builder_content_action_bar {
    display: -webkit-flex;
    display: flex;
    height: 70px;
    background-color: #fff;
    border-top: 1px solid #c3c6c6;
}
.builder_content_action_bar .section_action{
    -webkit-flex-basis: 250px;
    -ms-flex-basis: 250px;
    flex-basis: 250px;
    border-right: 1px solid #c3c6c6;
}
.section_action .action_item {
    display: block;
    width: 50%;
    font-size: 13px;
    font-weight: 500;
    float: left;
    line-height: 70px;
    text-align: center;
    box-shadow: 1px 0 0 0 #c3c6c6;
    color: #989fa1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
.section_action .action_item:hover {
    color: #222;
}
.b_c_action_right.grand_action {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 13px 30px;
    text-align: right;
}
.builder_left h3 {
    padding: 0 30px;
}
.section_nav {
    margin: 0;
    padding: 0 10px;
}
.section_nav_item {
    font-size: 13px;
    color: #6a797e;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    padding: 10px 20px;
    line-height: 16px;
    position: relative;
    margin-bottom: 1px;
}
.section_nav_item .fa {
    visibility: hidden;
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 14px;
    font-weight: normal;
}
.section_nav_item:hover {
    background-color: #f1f4f5;
    color: #222;
}
.section_nav_item:hover .fa {
    visibility: visible;
}
.section_nav_item.active {
    background-color: #b92d2d;
    color: #fff;
}
.builder_form_title {
    padding: 0 10px;
}
.builder_form_wrapper .form_row {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: move;
    position: relative;
}
.builder_form_wrapper .form_row .form_row_actions {
    position: absolute;
    right: 10px;
    top: 7px;
    color: #b8c1c4;
    visibility: hidden;
}
.builder_form_wrapper .form_row:hover .form_row_actions {
    visibility: visible;
}
.builder_form_wrapper .form_row .form_row_actions span {
    display: inline-block;
    margin-left: 7px;
}
.builder_form_wrapper .form_row .form_row_actions span:hover {
    cursor: pointer;
    color: #222;
}
.builder_form_wrapper .form_row input:disabled,
.builder_form_wrapper .form_row textarea:disabled {
    background-color: #fff;
    box-shadow: 0 200px 0 0 #fff inset;
}
.builder_form_wrapper .form_row:hover {
    background-color: #fff;
    border-color: #d5dbe6;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}
.builder_form_wrapper .form_row.active {
    background-color: #fff;
    border-color: #b92d2d;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}
.add_field_row {
    margin-top: 40px;
    border-top: 1px solid #cfd6d8;
    position: relative;
}
.add_field_row button {
    border: none;
    background-color: transparent;
    border-radius: 0;
    line-height: 40px;
    color: #222;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    width: 100%;
    text-align: center;
}
.add_field_row button:hover {
    color: #b92d2d;
    box-shadow: none;
}
.dropdown_panel {
    border: 1px solid #bec5d1;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    bottom: 100%;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}
.add_field_row .dropdown_panel {
    width: 450px;
}
.compact_nav {
    background-color: #f1f4f5;
    border-bottom: 1px solid #d5dbe6;
    display: -webkit-flex;
    display: flex;
}
.add_field_row .compact_nav {
    border-radius: 3px 3px 0 0;
}
.tab_nav_item {
    font-size: 13px;
    color: #b2bdc1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 44px;
    border-right: 1px solid #d5dbe6;
    text-align: center;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    list-style: none;
    cursor: pointer;
    position: relative;
}
.tab_nav_item:hover {
    color: #222;
}
.tab_nav_item.active {
    color: #222;
    background-color: #fff;
    box-shadow: 0 2px 0 0 #fff;
}
.tab_nav_item:last-child {
    border-right: none;
}
.add_field_row .tab_nav_item:first-child {
    border-radius: 3px 0 0 0;
}
.add_field_row  .tab_nav_item:last-child {
    border-right: none;
    border-radius: 0 3px 0 0;
}
ul.tab_nav.compact_nav {
    margin: 0;
}
.add_field_row .tab_content {
    padding: 20px;
}
.field_type_items {
    display: inline-block;
    width: 100%;
}
.field_type {
    display: inline-block;
    border: 1px solid #d5dbe6;
    margin: 0 -1px -1px 0;
    width: 25%;
    text-align: center;
    height: 90px;
    float: left;
    font-size: 11px;
    color: #a1aaae;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}
.field_type_icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("../img/icon_sprite.png") -250px 0;
    margin: 7px 0 -8px;
}
.field_type:hover .field_type_icon {
    background-position: -250px -50px;
}
.field_type_text {
    display: block;
}
.field_type:hover {
    border: 1px solid #b92d2d;
    background-color: #b92d2d;
    z-index: 1;
    color: #fff;
}
.field_configuration .tab_nav_item {
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
}
.field_configuration .tab_nav_item.active:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 3px;
    background-color: #b92d2d;
}
.tab_content {
    padding: 20px;
}
.field_configuration .tab_content {
    height: calc(100vh - 186px);
    overflow: auto;
}
.separator {
    padding: 15px 0 20px;
}
.separator:after {
    content: "";
    display: block;
    height: 1px;
    background-color: #d5dcdf;
}
.field_configuration .radio,
.field_configuration .checkbox {
    display: block;
    padding-bottom: 5px;
}
.field_configuration .checkbox:last-child {
    padding-bottom: 0;
}
.segment_title {
    font-size: 12px;
    color: #889499;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 10px 0 5px;
    border-bottom: 1px solid #d5dcdf;
    margin-bottom: 12px;
}
.tab_content.rules_content {
    padding: 0;
}
.rules_content .rules_block {
    border-top: 1px solid #d5dcdf;
    padding: 20px;
}
.rules_content .rules_block:first-child {
    border-top: none;
}
.segment_title.segment_title_with_action {
    padding-top: 0;
}
.segment_title.segment_title_with_action,
.rules_content .rules_block .segment_title {
    font-size: 14px;
    color: #222;
    border: none;
    position: relative;
}
.segment_title.segment_title_with_action:after,
.rules_content .rules_block .segment_title:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #d7dfe1;
    position: absolute;
    bottom: 0;
    left: 0;
}
.rules_content .rules_block .segment_title span {
    border: 1px solid #d5dbe6;
    border-radius: 2px;
    padding: 0 10px;
    cursor: pointer;
    line-height: 22px;
    display: inline-block;
    float: right;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    color: #a2a9ac;
    font-weight: 500;
}
.segment_title.segment_title_with_action span {
    cursor: pointer;
    line-height: 22px;
    float: right;
    font-size: 8px;
    color: #a2a9ac;
    position: relative;
}
.segment_title.segment_title_with_action span .material-icons {
    font-size: 18px;
}
.rules_content .rules_block .segment_title span:hover {
    color: #222;
}
.segment_content {
    color: #a2a9ac;
    padding: 10px 0 30px;
}
.rules_condition_operations {
    display: -webkit-flex;
    display: flex;
    border: 1px solid #d5dbe6;
    border-radius: 3px;
    margin-top: 10px;
}
.rules_condition_operation_type {
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    text-align: center;
    border-left: 1px solid #d5dbe6;
    line-height: 38px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.rules_condition_operation_type:first-child {
    border: none;
}
.rules_condition_operation_type:hover {
    opacity: .7;
}
.rules_condition_operation_type.start_btn {
    background: #b92d2d;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    box-shadow: 0 0 0 1px #b92d2d;
    position: relative;
    border: none;
    border-radius: 0 3px 3px 0;
}
.rules_condition {
    border: 1px solid #d5dbe6;
    border-radius: 3px;
}
.rule_cell .dropdown {
    line-height: 40px;
    border-radius: 3px;
}
.rule_cell .dropdown.open {
    background-color: #f1f4f5;
}
.rule_cell .dropdown > a {
    display: block;
    text-decoration: none;
    padding: 0 40px 0 15px;
    color: #333;
    font-weight: 400;
}
.rule_cell .dropdown a:hover {
    color: #333;
}
.rule_cell .dropdown .dropdown-menu {
    width: 100%;
}
.rule_cell .dropdown .dropdown-menu a:hover {
    color: #fff;
}
.rule_cell .dropdown a i {
    position: absolute;
    right: 10px;
    top: 30px;
    font-size: 10px;
}
.rule_cell .dropdown .rule_question {
    padding: 10px 0;
}
.rule_cell .dropdown .rule_question span {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rule_cell .dropdown .rule_question span.s_name {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    color: #a3a3a3;
}
.rule_cell .dropdown .rule_question span {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
}
.rule_cell .dropdown-menu li > a {
    padding: 10px;
}
.rule_cell .dropdown-menu li.s_name_title {
    background: #edeff3;
    margin: 7px 0;
    box-shadow: 0 1px 0 0 #d5dbe6;
    border-top: 1px solid #d5dbe6;
}
.rule_cell .dropdown-menu li.s_name_title > a {
    text-transform: uppercase;
    font-weight: 500;
    color: #a3a3a3;
    font-size: 11px;
}
.rule_cell .dropdown-menu li.s_name_title > a:hover {
    background-color: transparent;
    box-shadow: none;
    color: #333;
}
.rule_relation_type {
    background: #d5dbe6;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    position: relative;
}
.rule_relation_type .dropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 20px;
    z-index: 5;
}
.rule_relation_type .dropdown .dropdown-toggle {
    display: none;
    line-height: 20px;
    width: 100%;
    background: #d5dbe6;
    cursor: pointer;
}
.rule_relation_type .dropdown.open .dropdown-toggle,
.rule_relation_type:hover .dropdown .dropdown-toggle {
    display: block;
}
.rule_relation_type .dropdown .dropdown-menu {
    width: 80%;
    padding: 0;
    margin-left: 10%;
}
.rule_relation_type .dropdown .rules_condition_operations {
    margin-top: 0;
    color: #333;
}
.rule_cell.group_rules {
    padding: 15px;
}
.group_rules_wrapper {
    border: 1px solid #d5dbe6;
    border-radius: 3px;
    position: relative;
}
.group_rules_wrapper:before {
    content: "(";
    position: absolute;
    left: -12px;
    top: 50%;
    margin-top: -12px;
}
.group_rules_wrapper:after {
    content: ")";
    position: absolute;
    right: -12px;
    top: 50%;
    margin-top: -12px;
}
.rule_cell {
    position: relative;
}
.close_rule {
    position: absolute;
    right: -12px;
    top: 0;
    width: 12px;
    height: 12px;
    background-color: #a2a9ac;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    display: none;
}
.close_rule:hover {
    background-color: #333;
}
.rule_cell:hover > .close_rule {
    display: block;
    cursor: pointer;
}
.form_row .form_field.form_field_with_info {
    position: relative;
}
.form_row .form_field.form_field_with_info .info_field {
    padding-left: 65px;
}
.form_field_with_info .info_tag {
    position: absolute;
    background-color: #f1f4f5;
    border: 1px solid #d5dbe6;
    border-radius: 3px 0 0 3px;
    width: 50px;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.each_jumping_condition {
    background-color: #f1f4f5;
    padding: 20px 20px 5px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.each_jumping_condition .form_field {
    margin-bottom: 7px;
}
.each_jumping_condition .close_rule {
    top: 12px;
    right: -11px;
}
.each_jumping_condition.new_jumping_condition {
    border: 1px solid #d5dbe6;
    padding: 0;
    background: #fff;
}
.each_jumping_condition.new_jumping_condition:hover {
    border: 1px solid #b92d2d;
}
.each_jumping_condition.new_jumping_condition a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: #777;
    line-height: 36px;
}
.each_jumping_condition.new_jumping_condition:hover a {
    color: #b92d2d;
}
.add_jumping_option {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: #777;
}
.condition_flag {
    line-height: 20px;
    padding: 0 8px;
    background-color: #eca157;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    margin-right: 5px;
    text-transform: uppercase;
}
.condition_flag.skip {
    background-color: #41b1dc;
}
.form_row .form_label .radio {
    display: inline-block;
    padding: 0;
    margin-left: 10px;
}
.form_field .dropdown-toggle {
    width: 100%;
    line-height: 38px;
    padding: 0 15px;
    border: 1px solid #d5dbe6;
    border-radius: 2px;
    display: block;
    color: #a3a3a3;
    padding-right: 40px;
    text-decoration: none;
    background-color: #fff;
}
.form_field .open .dropdown-toggle {
    color: #333;
}
.form_field .dropdown-menu {
    width: 100%;
}
.form_field .dropdown-toggle .fa {
    position: absolute;
    font-size: 10px;
    line-height: 38px;
    width: 40px;
    text-align: center;
    right: 0;
    top: 0;
}
.condition_summary {
    padding-top: 20px;
}
.condition_summary .condition_summary_field {
    width: 100%;
    line-height: 18px;
    padding: 10px 15px;
    border: 1px solid #d5dbe6;
    border-radius: 2px;
    background-color: #f1f4f5;
    cursor: default;
    font-weight: 500;
}
table.value_table {
    border-top: 1px solid #d5dbe6;
    border-left: 1px solid #d5dbe6;
    width: 100%;
}
table.value_table th {
    border-bottom: 1px solid #d5dbe6;
    border-right: 1px solid #d5dbe6;
    font-size: 12px;
    color: #98a5a9;
    padding: 2px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
table.value_table th.value_action {
    width: 30px;
}
table.value_table td {
    border-bottom: 1px solid #d5dbe6;
    border-right: 1px solid #d5dbe6;
    padding: 7px 15px;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    color: #000;
}
table.value_table tbody {
    background-color: #f1f4f5;
}
table.value_table td.value_action {
    background-color: #fff;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}
table.value_table td .value_action_block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background-color: #71d371;
    box-shadow: 0 0 0 1px #71d371;
    color: #fff;
}
.value_action_block > span {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    cursor: pointer;
}
table.value_table td .value_action_block .material-icons {
    line-height: 18px;
    color: #fff;
}
table.value_table td .value_action_block .delete {
    background-color: #222;
}
table.value_table td  .material-icons {
    font-size: 12px;
    display: block;
    cursor: pointer;
    vertical-align: middle;
    color: #999;
}
table.value_table tr.edit_row {
    background-color: #fff;
}
.add_section_dropdown.dropdown_panel {
    width: 310px;
    margin-bottom: 5px;
    left: 5px;
    transform: translateX(0);
    text-align: left;
    line-height: 20px;
}
.add_section_dropdown.dropdown_panel .add_section_form {
    border: none;
    padding: 30px 30px 10px;
}
.flex_btn_row {
    display: -webkit-flex;
    display: flex;
    background-color: #f1f4f5;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #bec5d1;
}
.flex_btn_row > button {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 0;
    background-color: transparent;
    font-weight: normal;
    color: #222;
}
.flex_btn_row > button:first-child {
    border-right: 1px solid #bec5d1;
}
.flex_btn_row > button:hover {
    color: #b92d2d;
    box-shadow: none;
}
.dropdown_panel.action_dropdown {
    transform: translateX(0);
    left: inherit;
    right: 0;
    bottom: inherit;
    top: 100%;
    min-width: 120px;
}
.action_dropdown ul {
    padding: 10px 0;
    margin: 0;
}
.action_dropdown ul li {
    line-height: 18px;
    padding: 6px 15px;
    font-size: 12px;
    color: #666;
    cursor: pointer;
    list-style: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
}
.action_dropdown ul li:hover {
    background-color: #b92d2d;
    color: #fff;
}


/*---------------------- !edit-section ----------------------------*/
.section_nav_item.edit_section_nav {
    background-color: #333;
    position: relative;
}
.section_nav_item.edit_section_nav > span {
    color: #fff;
}
.section_nav_item .fa.fa-repeat {
    visibility: visible;
    font-size: 12px;
}
.section_nav_item:hover .fa.fa-repeat {
    visibility: hidden;
}
.section_nav_item.edit_section_nav .fa-ellipsis-v {
    display: none;
}
.add_section_dropdown.dropdown_panel.edit_section {
    width: 230px;
    top: 100%;
    bottom: inherit;
    margin: 1px 0 0;
    padding: 0px;
    left: 0;
    z-index: 10;
    cursor: auto;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.07), 0 3px 5px rgba(0, 0, 0, 0.3);
}
.add_section_dropdown.dropdown_panel.edit_section .add_section_form {
    padding: 15px 20px 5px;
    color: #333;
}
.edit_section .flex_btn_row > button {
    padding: 0;
}

/*------------------------ !group-dropdown --------------------------------------*/
.tree{
    margin-top: 10px;
    position: relative;
    padding-left: 5px;
}
span.root {
    display: inline-block;
    background: #00ACC1;
    color: #fff;
    padding: 0 10px;
    line-height: 20px;
    margin-left: -5px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
}
.tree ul{
    list-style: none;
    padding: 0 0 0 5px;
}
.tree ul li{
    padding: 7px 0 7px 15px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tree ul li:before {
    content: '';
    height: 1px;
    width: 10px;
    background-color: #b4b4b4;
    position: absolute;
    top: 16px;
    left: 0;
    margin: auto;
}
.tree ul li:after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #b4b4b4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}
.tree ul li:last-child {
    margin-bottom: 12px;
}
.tree ul li:last-child,
.tree ul li:last-child:after{
    height: 16px;
}
.tree ul li .fa {
    color: #b4b4b4;
    cursor: pointer;
    display: inline-block;
    margin-right: 9px;
}
.tree ul li .fa:hover {
    color: #777;
}
.tree ul li .node {
    display: block;
    cursor: pointer;
    color: #737373;
    font-weight: 400;
    font-size: 13px;
    position: relative;
    z-index: 1;
}
.tree ul li .node:before {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    bottom: -5px;
    right: -5px;
    background-color: #f1f4f5;
    border-radius: 3px;
    z-index: -1;
    display: none;
}
.tree ul li .node:hover:before {
    display: block;
}
.tree ul li .node:hover{
    color:#333;
    text-decoration: none;
}
.node .actions {
    position: absolute;
    right: 0;
    background: #f1f4f5;
    display: none;
    top: 0;
}
.tree ul li .node:hover .actions {
    display: block;
}
.node .actions .fa {
    width: 16px;
    text-align: center;
    margin: 0;
    font-size: 10px;
}
.tree ul li .node.node_edit {
    z-index: 10;
}
.tree ul li .node.node_edit:before {
    background-color: #fff;
    display: block;
    border: 1px solid #71d371;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
form.node_edit_form {
    position: relative;
    display: -webkit-flex;
    display: flex;
    height: 20px;
}
form.node_edit_form .field {
    flex-basis: 100px;
    position: relative;
}
form.node_edit_form .field input {
    line-height: 13px;
    height: 24px;
    padding: 0 10px 0 0;
    background-color: transparent;
    border: none;
    color: #000;
    position: relative;
    top: -3px;
}
form.node_edit_form .field.name input {
    width: 140px;
}
form.node_edit_form .field.code input {
    width: 60px;
}
form.node_edit_form .field.code:before {
    content: "";
    display: inline-block;
    width: 1px;
    position: absolute;
    left: -5px;
    top: -4px;
    bottom: -4px;
    background-color: #e1e5e8;
}
form.node_edit_form .field.action_node {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    width: 30px;
    background: #71d371;
}
form.node_edit_form .field.action_node .fa {
    width: 30px;
    display: block;
    height: 14px;
    text-align: center;
    line-height: 14px;
    color: #fff;
    font-size: 9px;
}
form.node_edit_form .field.action_node .fa.fa-close {
    background-color: #333;
}